
.section-con {
    padding: 10px;
}

.aside {
    width: 200px;
    float: left;
    background: lightcoral;
}

.container {
    width: 100%;
    padding-left: 220px;
}

.content {
    background: blueviolet;

}
